---
layout: default
---
<div class="post">

  <header class="post-header">
  </header>

  <!-- Get the project folder in the form ['_project' 'ar-drone' ... ] -->
  {% capture posts_base_path %} {{ page.relative_path | replace:'/'," " | truncatewords: 2 | replace: "...", "" |  append: " _posts"}}{% endcapture %}

  {% capture num_parts %}{{ posts_base_path | number_of_words}}{% endcapture %}

  {% capture about_base_path %} {{ page.relative_path | replace:'/'," " | truncatewords: 2 | replace: "...", "" |  append: " _about"}}{% endcapture %}

  <br>


    <h1 class="post-title">Decription for {{ page.title }}</h1>

    <ul class="post-list">

    {% for post in site.projects %}

      {% capture about_path %} {{ post.relative_path | replace:'/'," " | strip | truncatewords: num_parts | replace: "...", "" }}{% endcapture %}

      {% if about_path == about_base_path  %}

        {{ post.content }}

      {% endif %} 
    
    {% endfor %} 


    <h1 class="post-title">Updates from: {{ page.title }}</h1>

    <ul class="post-list">

    {% for post in site.projects %}

      {% capture posts_path %} {{ post.relative_path | replace:'/'," " | strip | truncatewords: num_parts | replace: "...", "" }}{% endcapture %}

      {% if posts_path == posts_base_path  %}

        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>

      {% endif %} 
    
    {% endfor %} 


  </ul>

</div>
